<!DOCTYPE html>
<html lang="en">
<%- include('layout/head') %>

<body>
    <%- include('layout/posts-header') %>
    <!-- method-override -->
    <!-- enctype='multipart/form-data' : for file upload -->
    <form name="insertForm" method="POST" action="/posts" enctype='multipart/form-data'>
        <input type="hidden" name="_method" value="POST">
        <input type="text" name="writer" placeholder="writer">
        <input type="text" name="title" placeholder="title">
        <div>
            <textarea name="content"></textarea>
        </div>
        <input type="file" name="upfile" />
        <div>
            <button onclick="return postInsert();">SUBMIT-INSERT</button>
            <button type="reset">RESET</button>
        </div>
    </form>
    <script>
        function postInsert() {
            var fm = document.insertForm;
            if (fm.title.value == "") {
                alert("fill the title.");
                fm.title.focus();
                return false;
            }
            return true;
        }
    </script>
</body>

</html>